.video {
  padding: 16px;
}

/* HEADER */
.video__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.video__title {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}
.video__titleIcon {
  width: 36px;
  height: 36px;
  margin-left: 6px;
}

.video__play {
  color: #ff4fb1;
}

.video__addBtn {
  align-self: flex-start;
  font-size: 20px;
  padding: 16px 30px;
  border-radius: 50px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  color: white;
  background: linear-gradient(90deg, #4f6bff, #ff4fb1);
  box-shadow: 0px 12px 30px 0px rgba(138, 98, 229, 1);

  &:hover {
  background: linear-gradient(73.45deg, #FF4FB1 22.94%, #4F6BFF 77.06%);
  }
  
  &:focus {
    background: linear-gradient(236.31deg, #FF4FB1 30.77%, #4F6BFF 54.07%);
  }

  &:focus-visible {
  outline: none;
  }
}

/* CONTROLS */
.video__controls {
  margin-top: 11px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.video__tabs {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  background: #F4FDFF;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.35);
}

.video__tab {
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  background: #d9d9d9;
  white-space: nowrap;
}

.video__tab.active {
  background: #ff4fb1;
  color: white;
}

.video__search {
  position: relative;
  display: flex;
  align-items: center; 
}

.video__searchInput {
  width: 100%;
  padding: 10px 14px;
  border-radius: 50px;
  border: none;  
  cursor: pointer;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.35);

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.video__searchIcon {
  position: absolute;
  right: 14px;
}

/* SECTION */
.video__section {
  margin-top: 22px;
}

.video__sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__subtitle {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline 0.7px;
}

.video__showAll {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #ff4fb1;
  cursor: pointer;
  margin-bottom: -18px;
}

.video__showAllIcon {
  width: 30px;
  height: 30px;
  margin-left: 8px;
}

/* GRID */
.video__grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

/* CARD */
.video-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.video-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.video-card__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}

.video-card__play {
  align-self: center;
  font-size: 24px;
}

.video-card__info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.video-card__name {
  font-weight: 600;
}

/* ================= TABLET ================= */
@media (min-width: 768px) {
  .video__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .video__controls {
    flex-direction: row;
    align-items: center;
  }

  .video__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= DESKTOP ================= */
@media (min-width: 1440px) {
  .video__title {
    font-size: 30px;
  }

  .video__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .video-card img {
    height: 300px;
  }

  .video__tabs {
    padding: 10px;
    border-radius: 30px;
  }

  .video__tab {
    background: transparent;
  }

  .video__tab.active {
    background: #ff4fb1;
  }

  .video__searchInput  {
    padding: 20px 52px 20px 20px;
  }
}