.logoText {
  position: relative;
}

.logoText::after {
  content: '';
  position: absolute;
  bottom: 4px;  /* расстояние от букв */
  left: 0;
  right: 0;
  height: 0.5px;
  background-color: #FF4FB1;
}

@media only screen and (min-width: 768px) {
  .logoText::after {
    bottom: -3px;
    height: 1px;
    
  }
}

.scrollbarHide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbarHide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.gradientBorder {
  border-radius: 50%;
  padding: 1px; 
  background: linear-gradient(135deg, #FF4FB1, #4F6BFF);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
