.global-loader {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  z-index: 99;
  overflow: hidden;
}

/* =========================
   ORBIT CONTAINER
========================= */

.orbit {
  position: relative;
  width: 250px;
  height: 250px;
}

/* =========================
   EARTH
========================= */

.earth {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* =========================
   ROTATING LAYER
========================= */

.cometOrbit {
  position: absolute;
  inset: 0;
  animation: orbit 3.2s linear infinite reverse;
}

/* =========================
   COMET
========================= */

.comet {
  position: absolute;

  /* mobile */
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform:
    translate(-50%, -50%)
    translateY(-140px);
}

/* =========================
   ANIMATION
========================= */

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* =========================
   TABLET
========================= */

@media (min-width: 768px) {

  .orbit {
    width: 360px;
    height: 360px;
  }

  .comet {
    width: 80px;
    height: 80px;

    transform:
      translate(-50%, -50%)
      translateY(-200px);
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 1024px) {

  .orbit {
    width: 400px;
    height: 400px;
  }

  .comet {
    width: 100px;
    height: 100px;

    transform:
      translate(-50%, -50%)
      translateY(-220px);
  }
}

body.dark {
    .global-loader {
  background: rgba(0, 0, 0);
    }
}
